<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>692396849341-c2ufgqfkv6lm75m2s1qlfl08ap4aljie.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.692396849341-c2ufgqfkv6lm75m2s1qlfl08ap4aljie</string>
	<key>API_KEY</key>
	<string>AIzaSyBIaP6LkjiaPDtrxXgwSi9Q-DZhnL83uGc</string>
	<key>GCM_SENDER_ID</key>
	<string>692396849341</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.batuhandogan425123.Rota</string>
	<key>PROJECT_ID</key>
	<string>rota-21e5d</string>
	<key>STORAGE_BUCKET</key>
	<string>rota-21e5d.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:692396849341:ios:cfe69fd3288620b42a5fd4</string>
</dict>
</plist>